{extend name="base" /}
{block name="content"}
<div class="col-xs-12 col-sm-9 col-lg-10">
    <ol class="breadcrumb" style="background-color: #f9f9f9;padding:8px 0;margin-bottom:10px;">
        <li>
            <a href=""><i class="fa fa-cogs"></i>
                友链管理</a>
        </li>
        <li class="active">

            {if condition="input('param.link_id')"}
            <a href="">编辑友链</a>

            {else}
            <a href="">添加友链</a>

            {/if}

        </li>

    </ol>
    <ul class="nav nav-tabs" role="tablist">
        <li><a href="{:url('index')}">友链首页</a></li>
        {if condition="input('param.link_id')"}
        <li class="active"><a href="">编辑友链</a></li>
        {else}
        <li class="active"><a href="">添加友链</a></li>
        {/if}
    </ul>
    <form class="form-horizontal" id="form" action="" method="post" onsubmit="return add()">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">友链管理</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">友链名称</label>
                    <div class="col-sm-9">
                        <input type="text" name="link_name"  class="form-control" placeholder="请填写友链名称" value="{$data['link_name']}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">url地址</label>
                    <div class="col-sm-9">
                        <input type="url" name="link_url"  class="form-control" placeholder="" value="{$data['link_url']}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">排序</label>
                    <div class="col-sm-9">
                        <input type="number" name="link_sort"  class="form-control" value="{$data['link_sort']}" placeholder="">
                    </div>
                </div>
            </div>
        </div>

        <input name="link_id" value="{$data['link_id']}" type="hidden"/>
        <button class="btn btn-primary" type="submit">确定</button>
    </form>

</div>

{/block}